* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-size: 1rem;
  background: #242423;
  font-family: "Montserrat", sans-serif;
}

/* header */

.Header {
  background-color: #333533;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  padding: 0 15px 0 0;
  min-height: 8vh;
  width: 100%;
}

.search {
  font-size: 25px;
  height: 45px;
  width: 13rem;
  margin: 1rem;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #242423;
  transition: 0.3s border-color;
}

.watchlistIcon {
  margin: 1.5rem;
}

/* movieContainer */

.Movie {
  text-align: center;
  margin: 1rem;
  background: #333533;
  width: 300px;
  border-radius: 15px;
  height: 510px;
}

.movieDescription {
  color: white;
  min-height: 450px;
  width: 290px;
  text-shadow: 2px 2px #0e0d0d;
  background-color: rgba(78, 78, 74, 0.719);
  border-radius: 15px;
  padding: 55px 10px 0 10px;
  margin: 5px 5px 0 5px;
  position: absolute;
  display: none;
  z-index: auto;
}

.Movie:hover {
  color: black;
  background: rgb(255, 255, 255);
}

.Movie:hover .movieDescription {
  display: block;
}

.scoreBadge {
  color: white;
  border-radius: 25%;
  position: absolute;
  text-align: center;
  min-width: 40px;
  padding: 0.4rem;
  margin: 1rem;
}

.watchlistBadge {
  background-color: rgba(46, 48, 46, 0.5);
  margin: 1rem 0 0 15.2rem;
  border-radius: 25%;
  position: absolute;
  padding: 0.5rem;
}

.filmwebButton {
  width: 40px;
  height: 33px;
  padding: 7px;
  background-color: rgba(46, 48, 46, 0.5);
  margin: 1rem 0 0 5rem;
  border-radius: 25%;
  position: absolute;
  transform: translateY(-180%);
}

.imdbButton {
  width: 40px;
  height: 33px;
  padding: 7px;
  background-color: rgba(46, 48, 46, 0.5);
  margin: 1rem 0 0 9.5rem;
  border-radius: 25%;
  position: absolute;
  transform: translateY(-180%);
}
.imdbButton img,
.filmwebButton img {
  max-width: 20px;
  max-height: 20px;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-height: 85vh;
}

.movieContainer img {
  object-fit: cover;
  border-radius: 15px;
  height: 450px;
  width: 97%;
  margin-top: 1.5%;
}

/* Navbar */

.Navbar {
  background-color: #333533;
  min-height: 8vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.pageControl {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.languageButton {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 1rem;
}

.Navbar button {
  margin: 1rem;
}

.languageButton button {
  cursor: pointer;
  margin: 0.7rem;
  border: none;
  background-color: #333533;
  border-radius: 5px;
  width: 2.4rem;
}

.gg-film,
.gg-home-alt,
.gg-arrow-left-r,
.gg-arrow-right-r {
  --ggs: 2;
  cursor: pointer;
  color: #333533;
  background-color: white;
}

@media only screen and (max-width: 995px) {
  .movieContainer {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 332px) {
  .Movie {
    margin: 1rem 0.2rem 1rem 0.2rem;
  }
}
